/* ----------------------------------
	top-sample-block
------------------------------------ */
@use "/styles/global" as *;

h1 {
	font-size: rem(36);
	color: $c_black;
}

.top-sample-block {
	padding-top: 20px;
	font-size: rem(24);

	@include mq_hover {
		&:hover {
			color: red;
		}
	}
}
